<%- include('header',{role:role}); %>
<div class="col-sm-10" style="  margin-top: 10px; ">

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="modal-title">
               
             </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body" id="modal-body">
          </div>
       </div>
    </div>
  </div>



  <div class="modal fade modalEditClass" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">DELETE Dish</h4>
          <button type="button" id="close-delete" class="close text-secondary" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
<div class="modal-body mx-3 modal-inputs">

    <form id="del-dish-form" method="DELETE">
           
                    <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right" for="formNameEdit15">Are you sure to delete this Dish?</label>
                          </div>
                          

        <div class="modal-footer d-flex justify-content-center editInsideWrapper">
          <button id="del-dish" type="button" class="btn btn-outline-secondary btn-block editInside" data-dismiss="modal">DELETE Dish

            <i class="far fa-paper-plane ml-1"></i>
          </button>
            </div>
    </form>        
</div>
      </div>
    </div>
  </div>

    <div class="modal fade modalEditClass" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Edit Dish Details</h4>
              <button type="button" id="closeMyModal" class="close text-secondary" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
<div class="modal-body mx-3 modal-inputs">

        <form id="editDishForm" method="PUT">
              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="formNameEdit15">Name</label>
                <input type="text" name="name" id="name" class="form-control validate">              
              </div>
              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="formPositionEdit15">Description</label>
                <input type="text" name="description" id="description" class="form-control validate">               
              </div>

              <div class="md-form mb-5">              
                <label data-error="wrong" data-success="right" for="formOfficeEdit15">Price</label>
                <input type="number" name="price" id="price" class="form-control validate">
              </div>
             
                        <div class="col-sm-10">
                                <label for="exampleFormControlInput1">Choose Dish Category</label>
                                </div>

                        <div class="md-form mb-5">
                                                
                                <select name="selectlist" id="selectlist" class="form-control" >
                                        <option value="" disabled selected>Choose your option</option>
                                                                        
                                </select>
                        </div>

            <div class="modal-footer d-flex justify-content-center editInsideWrapper">
              <button id="editEmp" type="button" class="btn btn-outline-secondary btn-block editInside">Edit
                Dish
                <i class="far fa-paper-plane ml-1"></i>
              </button>
                </div>
        </form>
 </div>
          </div>
        </div>
      </div>

      <div class="modal fade modalEditClass" id="ingredientsModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">ADD Ingredient</h4>
              <button type="button" id="close-ingredient" class="close text-secondary" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    <div class="modal-body mx-3 modal-inputs">
    
      <div class="modal-body">
        <form id="addIngredientForm">
                <div class="col-sm-10">
                        <label for="exampleFormControlInput1">Choose Ingredient Type</label>
                        </div>
    
                <div class="md-form mb-5">
                                        
                        <select id="ingType" name="ingType" class="form-control">
                                <option value="" disabled selected>Choose your option</option>
                                                                
                        </select>
                </div>
                        <div class="col-sm-10">
                                <label for="exampleFormControlInput1">Choose Ingredient</label>
                                </div>
    
                        <div class="md-form mb-5">
                                                
                                <select id="selectIng" name="selectIng" class="form-control">
                                        <option value="" disabled selected>Choose your option</option>
                                                                        
                                </select>
                        </div>
    
                        <div class="md-form mb-5">
                               <label data-error="wrong" data-success="right" for="formNameEdit15">Quantity</label>
                                <input type="number" name="qty" id="qty" class="form-control validate">                          
                              </div>

                        <div id= "modal-success" class="alert alert-success alert-dismissible" style="display:none">
                                              
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Ingredient Successfully Added</strong>
                        </div>
    
            <div class="modal-footer d-flex justify-content-center editInsideWrapper">
              <button id="addIng2"  type="button" class="btn btn-outline-secondary btn-block editInside">Add Ingredient
    
                <i class="far fa-paper-plane ml-1"></i>
              </button>
                </div>
        </form>
      </div>             
    </div>
          </div>
        </div>
      </div>

        <div class="container">

        <div class="card">
            <div class="card-header">
                DISHES
            </div>
            <div class="card-body">
                <h5 class="card-title">Dishes</h5>
                <table id="dataTable" class="table table-light table-hover table-bordered" style="width: 100%;">
                        <thead>
                                <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Type</h3></th>
                                        <th>Price</th> 
                                        <th>Action</th> 

                                </tr>

                            </thead>
                        <tbody>
                        </tbody>
                </table>

            </div>
        </div>


        </div>




<script src="/js/allDish.js"></script>
<%- include('footer'); %>