<%- include('header',{role:role}); %>
<div class="col-sm-10  " style="margin-top: 10px; ">

    <div class="container">
            <div id="multiple_salaries_datatables" class="card-box" style="margin-left: 30px;" ></div>






    </div>

</div>
</div>

<script src="/js/allSalaries.js"></script>
<%- include('footer'); %>